style.
  body{
  padding-top:120px;
  background-color:#565656;
  }
  .working{
  color: white;
  text-shadow: 3px 3px 3px black
  }
.container.working
  center
    img(src="/asset/img/icon/logo_02.png", alt="", width="350px" )
    h2 ASE Intech 網頁資料轉置中
    h4 將在近期與您見面
