extends container

block content
  br
  br
  br
  .container
    .row
      .col-md-12
        center
          //- img.featurette-image.img-responsive(src='asset/img/ESCO/chart-2.png', alt='ESCO', width="70%", style="margin-top:80px;")
          //- br
          //- h2
          //-   b ESCO 合作模式
      .col-md-12
        h2.featurette-heading ESCO 合作模式
        h3.text-muted
          | ESCO 合約保障業主的工程品質和日後的維護服務
        p.lead
          | 透過銀行、租賃公司的第三方保證，在整個 ESCO 能源專案合約中，能保障雙方的各項權益：
          ul.lead
            li 分期支付工程費用： ESCO 模式中，不必一次支付大筆的工程款項， 以節能照明為例，您可以利用這個機制在節能照明開始運作且獲得收益後，逐步支付先前的工程款項。
            li ESCO效益：可採用不同的合約形式，但皆可確保您能獲得預期的收益。
            li 節能效益驗證：正確、嚴謹地驗證確保您獲得預期的收益，並由銀行、租賃公司的第三方作擔保。
            li 系統化工程： ASE 規劃完整的節能服務、綠色能源、智能監控等系統，同時做全面性系統化的規劃，無論是建置新的能源系統或舊系統之修繕改裝，ASE有完整的規劃建置方案。

    .row
      .col-md-12
        h2.featurette-heading 簡介 ESCO ( Energy Services Company )
        h3.text-muted
          | 經濟部商業司定義--能源技術服務業 ( 行業代碼IG03010 )
        p.lead
          | 從事新淨潔能源〔包含太陽能、生質與廢棄功能、地熱、海洋 能、風力、水力〕、節約能源、 提升能源使用效率或抑制移轉尖峰用電負載之設備、
          | 系統及工程之規劃、可性行研究、設 計、安裝、施工、維護、檢測、代操作、相關軟硬體構建及其相關技術服務之行業。
        blockquote
          p.text-primary ESCO 合作模式即是保障能源工程中保障雙方利益與保證的最佳方式。

      .col-md-2
      .col-md-8
        br
        br
        img.featurette-image.img-responsive(src='asset/img/ESCO/chart-1.png', alt='ESCO')

    //- 暫時拿掉
    .row
      //- .col-md-12
      //-   h2.featurette-heading 節能績效保證型契約 ( ESPC )
      //-   h3.text-muted
      //-     | Energy Saving Performance Contract ( ESPC )
      //-   p.lead
      //-     | 能源技術服務業係以節能績效保證型契約的方式進行節能改善專案。在專案驗收時，ESPC 有助於保障您的節能系統具有相對應的節能效果，
      //-     | 且透過銀行的第三方認證，能保證您獲得與合約相同的節能效果。
      //-   blockquote
      //-     p.text-primary ESPC 確保您在使用 ASE 的節能系統後，能獲得對用的收益，並確保節能的效果與規劃時的數據相同。

      //- .col-md-12
      //-   h2.featurette-heading ESCO節能與傳統節能專案之差異
      //-   h3.text-muted
      //-     | Energy Saving Performance Contract ( ESPC )
      //-   p.lead
      //-     table.table.table-hover
      //-       thead
      //-         tr
      //-           th
      //-           th ESCO模式( IPMVP )
      //-           th 傳統模式
      //-       tbody
      //-         tr
      //-           td 技術區別
      //-           td
      //-             span.glyphicon.glyphicon-ok.text-success(aria-hidden='true')
      //-               | &nbsp;
      //-             | 系統整合 ( 含單獨系統 )
      //-           td 單獨系統
      //-         tr
      //-           td 量測與驗證方式
      //-           td
      //-             span.glyphicon.glyphicon-ok.text-success(aria-hidden='true')
      //-               | &nbsp;
      //-             span.text-primary 4種 M&V 選項，與國際接軌
      //-           td
      //-             p 1種計算方式
      //-             p.text-danger 無調整量、無驗證機制
      //-         tr
      //-           td 基準線訂定
      //-           td
      //-             span.glyphicon.glyphicon-ok.text-success(aria-hidden='true')
      //-               | &nbsp;
      //-             span.text-primary 有強制訂定
      //-           td 無強制訂定
      //-         tr
      //-           td 節能量計算方式
      //-           td
      //-             span.glyphicon.glyphicon-ok.text-success(aria-hidden='true')
      //-               | &nbsp;
      //-             = '= 基準線耗能量 - 改善後耗能量 ± 調整量'
      //-           td= '= 改善前耗能量 - 改善後耗能量'
      //-         tr
      //-           td 商業模式
      //-           td
      //-             span.glyphicon.glyphicon-ok.text-success(aria-hidden='true')
      //-               | &nbsp;
      //-             button.btn.btn-success.btn-xs(type='button', data-toggle='modal', data-target='#coPlan1')
      //-               | 節能效益分享型
      //-             | &nbsp;&nbsp;or&nbsp;&nbsp;
      //-             button.btn.btn-warning.btn-xs(type='button', data-toggle='modal', data-target='#coPlan2')
      //-               | 節能量保證型
      //-             //- | &nbsp;&nbsp;or&nbsp;&nbsp;
      //-             //- button.btn.btn-primary.btn-xs(type='button', data-toggle='modal', data-target='#coPlan1')
      //-             //-   | 能源服務託管型
      //-           td
      //-             button.btn.btn-default.btn-xs(type='button', data-toggle='modal', data-target='#coPlan3')
      //-               | 一次驗收解決
      //-         tr
      //-           td 資金取得方式
      //-           td
      //-             span.glyphicon.glyphicon-ok.text-success(aria-hidden='true')
      //-               | &nbsp;
      //-             | 協助能源用戶取得融資，能源用戶自有資金
      //-           td 能源用戶自有資金
      //-         tr
      //-           td 節能績效 評估結果
      //-           td
      //-             span.glyphicon.glyphicon-ok.text-success(aria-hidden='true')
      //-               | &nbsp;
      //-             span.text-primary 受國際認可，
      //-             span.text-success 具有節能量與節能持續性之保證
      //-           td
      //-             p.text-danger 無保證、無法保證工程效果
      //-             p.text-danger 部分無法受國際認可

      //-   blockquote
      //-     p.text-primary ESCO 是 ASE 系統工程中，給您最佳保證的方式。

      .col-md-7
        h2.featurette-heading ESCO 節能績效專案合作模式
        h3.text-muted
          | ESCO主要是針對各種企業提供耗能設備或系統盤查、問題診斷、 節能改善工程設計規劃、施工及量測與驗證等一條龍(One Stop Shopping)的服務。
        br
        br
        blockquote
          p.text-primary 確保您在使用 ASE 的節能系統後，能獲得預期的收益，並確保節能的效果與規劃時的數據相同。
      .col-md-5
        div(style="height:40px; width:100px")
        p.lead
          .list-group
            a.list-group-item(href='#')
              h4.list-group-item-heading 系統性檢查
              p.list-group-item-text 現場盤查，診斷狀況
            a.list-group-item(href='#')
              h4.list-group-item-heading 規劃與提案
              p.list-group-item-text 規劃整體節能方案
            a.list-group-item(href='#')
              h4.list-group-item-heading 簽訂契約
              p.list-group-item-text 重複討論需求後，簽訂 ESCO 與第三方保證契約
            a.list-group-item(href='#')
              h4.list-group-item-heading 量測必要數據
              p.list-group-item-text 基準線資料建立
            a.list-group-item(href='#')
              h4.list-group-item-heading ASE 能源系統工程
              p.list-group-item-text 節能服務、綠色能源、智能監控等系統工程施作
            a.list-group-item(href='#')
              h4.list-group-item-heading 效益驗證
              p.list-group-item-text 透過 ESCO 合約驗證節能服務、綠色能源、智能監控等系統之效益
            a.list-group-item(href='#')
              h4.list-group-item-heading 定期追蹤
              p.list-group-item-text 視合約狀況而定，定期追蹤與維護整體系統。

      //- .col-md-12
      //-   h2.featurette-heading 傳統節能計算與 IPMVP 之差異
      //-   h3.text-muted
      //-     | ASE 採用的量測方式說明
      //-   .container
      //-     .row
      //-       .col-md-6
      //-         h3.text-muted
      //-           | 傳統節能計算方式：
      //-         h4.bg-danger.rule 節能量 = 基準線的耗能量-改善後的耗能量
      //-         | 未將系統或設備於基準線 (改善前) 之操作狀態調整到與改善後的操作狀態一致。
      //-       .col.md-6
      //-         h3.text-muted
      //-           | IPMVP節能計算方式：
      //-         h4.bg-success.rule(style="margin-left:50%") 節能量 = 基準線的耗能量-改善後的耗能量 ± 調整量
      //-         | 調整量即是將系統或設備於基準線與改善後的操作狀態 調整為一致之修正量。

      //-   br
      //-   br
      //-   br
      //-   blockquote
      //-     p.text-primary ESPC 確保您在使用 ASE 的節能系統後，能獲得對用的收益，並確保節能的效果與規劃時的數據相同。
      style.
        .rule{
        width: 420px;
        height: 30px;
        padding-top: 6px;
        text-align: center;
        border-radius: 4px;
        }

    //- Modal
    #coPlan1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') ×
              span.sr-only Close
            h4#myModalLabel.modal-title 節能效益分享型
          .modal-body
            h4.text-muted 合作方式
            p
              | 主要是進行節能改善專案時, 由ESCO協助提供專案所需要的資金以及全過程的服務,
              | 且在 ESCO 節能績效保證契約內容需規定專案的節能指標、量測與驗證方式以及基準線之訂定。
            hr
            h4.text-muted 效益分配模式
            p
              | 專案實施期間：ESCO獲得全部的節能效益，
              span.text-primary 能源用戶不需出資,維修費用由 ESCO 支付。
              br
              | 專案結束後:能源用戶擁有完整的節能效益，維護費用由能源用戶支付。
          .modal-footer
            include footer.jade

    #coPlan2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') ×
              span.sr-only Close
            h4#myModalLabel.modal-title 節能量保證型
          .modal-body
            h4.text-muted 合作方式
            p
              | 由業主提供全部或部分的資金，而由ESCO業者提供全過程的服務，
              | 並於ESCO節能績效保證契約內容規定專案的節能指標、量測與驗證方式以及基準線之訂定。
            hr
            h4.text-muted 效益分配模式
            p
              | 專案實施期間：
              span.text-danger 依照出資的比例
              | 分配節能效益，
              span.text-primary 維護費用由 ESCO 負責。
              br
              | 專案結束後：能源用戶擁有完整的節能效益,維護費用由能源用戶支付。
          .modal-footer
            include footer.jade

    #coPlan3.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') ×
              span.sr-only Close
            h4#myModalLabel.modal-title 非ESCO節能模式
          .modal-body
            h4.text-muted 合作方式
            p
              | 由能源用戶自籌提供節能改善的資金，能源用戶自行找工程公司進行節能改善。
            hr
            h4.text-muted 效益分配模式
            p
              | 專案實施期間及專案結束後之節能效益全由能源用戶擁有，
              span.text-danger 維護費用由能源用戶自行負責。
          .modal-footer
            include footer.jade
    br
    hr
    include footer.jade

  //- script(src='asset/javascripts/default.js')
  //- script(src='https://code.jquery.com/jquery-1.11.1.min.js')
  //- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')