extends container

block content
  include _working

  //- script(src='https://code.jquery.com/jquery-1.11.1.min.js')
  //- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')

  //- script(src='asset/javascripts/default.js')
  //- script(src='asset/javascripts/default2.js')
  //- script(src='asset/javascripts/default3-bugs.js')



