footer
  .col-md-12
    h6
      center
        span.glyphicon.glyphicon-tower(aria-hidden="true") &nbsp;
        | &nbsp;漢鵬智能科技有限公司 ASE intelligent Technology Co., Ltd.

        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        span.glyphicon.glyphicon-copyright-mark(aria-hidden="true")&nbsp;
        | &nbsp;2015 ASE intelligent Technology Co., Ltd.

        //- span.glyphicon.glyphicon-road(aria-hidden="true") &nbsp;
        //- | &nbsp;220 新北市本橋區四川路二段 58 號

        //- | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        //- span.glyphicon.glyphicon-envelope(aria-hidden="true")&nbsp;
        //- | &nbsp;janus_cheng@aseintch.com
