
extends container

block content
  //- script(src='/Scripts/AssetsBS3/ie-emulation-modes-warning.js')
  //- link(href='asset/stylesheets/home.css', rel='stylesheet')
  style.
    body{
    padding:0px;
    background-color: #333;
    }
    .container{
    color: white;
    }

  #myCarousel.carousel.slide(data-ride='carousel' )
    ol.carousel-indicators
      li.active(data-target='#myCarousel', data-slide-to='0')
      li(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
      li(data-target='#myCarousel', data-slide-to='3')
      li(data-target='#myCarousel', data-slide-to='4')
    .carousel-inner(role='listbox' )
      .item.active
        img(src='asset/img/bg/bg-contact.png', alt='Third slide')
        .container
          .carousel-caption
            //- h1 ESCO 合作模式
            //- a.btn.btn-default(src="./ESCO.html", style="opacity:0.8;") ASE 合作模式
      .item
        img(src='asset/img/bg/bg-LED.png', alt='First slide')
        .container
          .carousel-caption
            //- h1 ASE 節能服務
            //- a.btn.btn-default(src="./LED.html", style="opacity:0.8;") LED 照明系統
      .item
        img(src='asset/img/bg/bg-PV.png', alt='Third slide')
        .container
          .carousel-caption
            //- h1 ASE 創能服務
            //- a.btn.btn-default(src="./PV.html", style="opacity:0.8;") PV 太陽能系統
    a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
      span.sr-only 下一張
    a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
      span.sr-only 上一張
  .container
    .row
      .col-md-12
        //- p.lead ASE 提供完整的系統規劃與建置服務，分為 節能、創能、智能 與修繕改裝，無論建置全新的電力網系統，配上節能的照明或智能控管，ASE 提空您專業的規劃與系統性的服務。並結合 ESCO 合作模式，讓您更安心，建置專屬的綠色能源系統。
        p.lead(style="margin-top:-20px") ASE 提供完整的電力系統規劃與建置服務，分為節能服務、綠色能源、智能監控、修繕改裝，無論建置全新的能源系統，搭配節能照明或智能控管，ASE 提供您專業的規劃與系統性的服務。並可結合 ESCO 合作模式，讓您更安心、便利及節省地建置專屬的電力管理系統。
      .col-md-12
        include footer

  //- link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js', rel='stylesheet')
  //- script(src='https://code.jquery.com/jquery-1.11.1.min.js')
  //- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
