extends container

block content
  #myCarousel.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#myCarousel', data-slide-to='0')
      li(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
      li(data-target='#myCarousel', data-slide-to='3')
      li(data-target='#myCarousel', data-slide-to='4')
    .carousel-inner(role='listbox')
      .item.active
        img(src='asset/img/demo-LED-1.jpg', alt='First slide')
        .container
          .carousel-caption
            h1 LED天井燈 60W 6米設備製造廠
            //- p
            //-   | ASE 提供完整的節能照明系統規劃，滿足不同需求的的系統設計。
              //- | ASE 規劃完整的創能、節能照明系統。ASE 專業客製化的系統設計。
      .item
        img(src='asset/img/demo-LED-3.jpg', alt='Third slide')
        .container
          .carousel-caption
            h1 LED天井燈 150W 13米機械加工廠
            //- p
            //-   | ASE 能照亮高達 13 米高的廠房空間，充足且節能的光源無煩惱。
      .item
        img(src='asset/img/demo-LED-4.jpg', alt='Fourth slide')
        .container
          .carousel-caption
            h1 LED天井燈 80W 8米倉庫
            //- p
            //-   | 高均勻度光照實例，完整照明無重影，舒服且明亮的投光。
      .item
        img(src='asset/img/demo-LED-5.jpg', alt='Five slide')
        .container
          .carousel-caption
            h1 LED路燈 100W 8米道路照明
            //- p
            //-   | ASE 擁有完全開放空間的照明系統建置經驗，你們的廠房空間大小為何，ASE 都能為您量身定做節能投光系統。
      .item
        img(src='asset/img/demo-LED-6.jpg', alt='Six slide')
        .container
          .carousel-caption
            h1 LED天井燈 150W 13米機械加工廠
            //- P ASE 能大批量的節能 LED 系統規劃，同時規劃節能、創能與照明。
    a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
      span.sr-only 下一張
    a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
      span.sr-only 上一張
  .container.marketing
    .row
      .col-lg-4
        img.img-circle(src='asset/img/heading/heading_1.png', alt='Generic placeholder image', style='width:140px;height:140px')
        h2 光學設計
        p
          | 五種投光角度，適應狹窄的穿透光，或是滿足開闊廠房的高均勻照射範圍。省電、耐點滅、光衰保固，不含紫外線及電磁波，更採用 96% 高透光玻璃鏡頭，更優於鏡頭隨時間老化的 PC 或壓克力材質，讓寬闊的開放式空間也能利用單一光源達成無重影。
      .col-lg-4
        img.img-circle(src='asset/img/heading/heading_2.png', alt='Generic placeholder image', style='width:140px;height:140px')
        h2 散熱設計
        p
          | 專業團隊長達 2 年開發、108 選 1 的最佳解熱技術，完美 PINFIN 比例的弧形散熱片，配上放射狀的風洞對流孔。並且透過 COB 集成技術，完美結合台製晶粒與銅基板，透過散熱鰭片快速揮發，專業的高速散熱效果。
      .col-lg-4
        img.img-circle(src='asset/img/heading/heading_3.png', alt='Generic placeholder image', style='width:140px;height:140px')
        h2 安心認證
        p
          | 全系列燈具通過 IP66 認證，室內室外皆適用。符合 CNS14115 及 CNS14335，品質有保證。保證 100% 台灣製造、 3 年材料保固，保證 2 年光衰 8% 以下。多重認證與信心保固，提供您最優秀的選擇。
    hr
    .row.featurette
      .col-md-7
        h2.featurette-heading
          | 外型設計
        h3
          span.text-muted 髮絲紋質感，全導角處理
        p.lead
          | 散熱機構效率提升，重量減輕 15~30%。簡潔設計，相當容易維護與只用，大幅降低製造及維修成本。
          | 另外，防水結構採用不鏽鋼 SUS304 支架 / 螺絲 + 矽膠級防水膠條。不鏽鋼經久耐用、絕不生鏽配上高等級防水矽膠，二道防水設計保護。
      .col-md-5
        img.featurette-image.img-responsive(src='asset/img/body/water.png', alt='產品設計圖')
    hr
    .row.featurette
      .col-md-5
        img.featurette-image.img-responsive(src='asset/img/body/all.png', alt='Generic placeholder image')
      .col-md-7
        h2.featurette-heading
          | 各種適性規格
        h3
          span.text-muted 選配最適合的燈具：無光暈天井燈、投射燈
        p.lead
          | 60˚：高穿透性光源，適用於較高或狹窄的環境。
          br
          | 90˚：高均勻度光照，適用於一般高度或開闊的還性。
          br
          | 120˚：大面積照射範圍，適用於中低高度或要求立面亮度的環境。
          br
          | 120˚ * 90˚：特殊廣角設計，滿足光照需求。
          br
          br
        Button.btn.btn-success.btn-lg.pull-right(style="margin-right:80px" aria-label="Left Align" , data-toggle='modal', data-target='#spec')
          span.glyphicon.glyphicon-list-alt(aria-hidden="true")
          |     詳細規格
        br
        br
        br
        br
        br
        br
        br
        h3 各類型車室專用燈
        p.lead
          | 25˚：極薄、極亮、IP67 防水。
        Button.btn.btn-success.btn-lg.pull-right(style="margin-right:80px" aria-label="Left Align" , data-toggle='modal', data-target='#spec2')
          span.glyphicon.glyphicon-list-alt(aria-hidden="true")
          |     詳細規格
    hr
    .row.featurette
      include system-left
    hr
    .row.featurette
      br
      .col-md-5
        img.featurette-image.img-responsive(src='asset/img/ESCO/story.png', alt='Generic placeholder image')
      .col-md-7
        include ESCO-story.jade
    hr
    - var iconSize = 57;
    .row.featurette
      .col-md-12
        center
          - for( var i = 1; i <= 5; i++)
            img.img-circle(src='asset/img/icon/'+i+'.png', alt='', style='width:'+iconSize+'px;height:'+iconSize+'px;margin:3px')
          br
          - for( var i = 1; i <= 9; i++)
            img.img-circle(src='asset/img/icon/a'+i+'.png', alt='', style='width:'+iconSize+'px;height:'+iconSize+'px;margin:3px')
          br
          br
          h4 漢鵬科技 • 高品質 • 專業規劃 • 系統工程
    //- .row.featurette
    hr.featurette-divider
    include footer
    //- Dialog
    #spec.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') ×
              span.sr-only Close
            h4.modal-title 照明燈具規格參考
          .modal-body
            - var imgWidth = 100;
            .container
              img(src='asset/img/all-led/100W HBAY.png', alt='', style="max-width:" + imgWidth + "px")
              img(src='asset/img/all-led/100W SLIGHT.png', alt='', style="max-width:" + imgWidth + "px")
              img(src='asset/img/all-led/150W HBAY.png', alt='', style="max-width:" + imgWidth + "px")
              img(src='asset/img/all-led/150W SLIGHT.png', alt='', style="max-width:" + imgWidth + "px")
              img(src='asset/img/all-led/100W HBAY.png', alt='', style="max-width:" + imgWidth + "px")
              img(src='asset/img/all-led/200W HBAY.png', alt='', style="max-width:" + imgWidth + "px")
              img(src='asset/img/all-led/200W SLIGHT.png', alt='', style="max-width:" + imgWidth + "px")
              img(src='asset/img/all-led/300W SLIGHT.png', alt='', style="max-width:" + imgWidth + "px")
            div
              span(style='margin:15px') 100W-HBAY
              span(style='margin:15px') 100W-SLIGHT
              span(style='margin:3px') 150W-HBAY
              span(style='margin:8px') 150W-SLIGHT
              span(style='margin:8px') 100W-HBAY
              span(style='margin:15px') 200W-HBAY
              span(style='margin:7px') 200W-SLIGHT
              span(style='margin:10px') 300W-SLIGHT
            br
            br
            table.table.table-hover
              thead
                th 照度對應(Lux)
                th 6 m
                th 7 m
                th 8 m
                th 9 m
                th 10 m
                th 11 m
                th 12 m
                th 15 m
              tbody
                tr
                  td 60 w
                  td 155
                  td 114
                  td 87
                  td 69
                  td 56
                  td 46
                  td 39
                  td 25
                tr
                  td 80 w
                  td 207
                  td 152
                  td 116
                  td 92
                  td 75
                  td 62
                  td 52
                  td 33
                tr
                  td 100 w
                  td 259
                  td 190
                  td 146
                  td 115
                  td 93
                  td 77
                  td 65
                  td 41
                tr
                  td 120 w
                  td 311
                  td 228
                  td 175
                  td 138
                  td 112
                  td 93
                  td 78
                  td 50
                tr
                  td 150 w
                  td 389
                  td 286
                  td 219
                  td 173
                  td 140
                  td 116
                  td 97
                  td 62
                tr
                  td 180 w
                  td 469
                  td 345
                  td 264
                  td 208
                  td 169
                  td 140
                  td 117
                  td 75
    #spec2.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') ×
              span.sr-only Close
            h4.modal-title 車室照明燈
          .modal-body
            .container
              .col-md-1
              .col-md-7
                table.table.table-hover(style="text-align:center")
                  thead
                    tr
                      td
                        b LED 規格
                      td RL-C-9
                      td RL-C-12
                      td RL-C-16
                  tbody
                    tr
                      td 電壓
                      td ≥12V
                      td ≥24V
                      td ≥24V
                    tr
                      td 功率
                      td 9W
                      td 12W
                      td 16W
                    tr
                      td 光通量
                      td 990lm
                      td 1320lm
                      td 1760lm
                    tr
                      td 色溫
                      td 白
                      td(colspan="2") 黃/暖白/白
                    tr
                      td 角度
                      td(colspan="3") 140˚ / 60˚
                    tr
                      td 顏色
                      td(colspan="3") 黑/白
                    tr
                      td 重量
                      td(colspan="3") 250g
                    tr
                      td 尺寸
                      td(colspan="3") ø115mm*21mm(H)
                    tr
                      td 保固期限
                      td(colspan="3") 一年
                br
                .container
                  .col-md-3
                    table.table.table-hover
                      tr
                        td(colspan="3") 60˚
                      tr
                        td 距離(M)
                        td 照度(LUX)
                        td 範圍(M)
                      tr
                        td 1
                        td 1900
                        td ø 1.5
                      tr
                        td 2
                        td 500
                        td ø 2.5
                  .col-md-3
                    table.table.table-hover(style="margin-left:70px")
                      tr
                        td(colspan="3") 60˚
                      tr
                        td 距離(M)
                        td 照度(LUX)
                        td 範圍(M)
                      tr
                        td 1
                        td 700
                        td ø 5
                      tr
                        td 2
                        td 220
                        td ø 9


  //- script(src='asset/javascripts/default.js')
  //- script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  //- script(src='https://code.jquery.com/jquery-1.11.1.min.js')
  //- script(src='https://code.jquery.com/jquery-2.1.4.min.js')
  //- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
  //- script(src='asset/javascripts/jsBootstrapValidation.js')

  //- link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css")

  script(src='asset/javascripts/default2.js')
  script(src='asset/javascripts/default3-bugs.js')
