extends container

block content
  .container
    .row
      .col-md-1
      .col-md-11
        style.
          body{
          padding-top: 120px
          }
          iframe{
          width: 100%;
          overflow: hidden;
          }
        img(src="http://mrpv.org.tw/templates/default/img/logo.png")
        iframe(src="http://mrpv.org.tw/uploads/images/1040126_%E6%B5%81%E7%A8%8B%E5%9C%96.png", frameborder="0" height="1250")
        iframe(src="http://mrpv.org.tw/uploads/images/progress-03.png", frameborder="0"  style="height:700px; margin-left:85px")
        iframe(src="http://mrpv.org.tw/uploads/images/progress-04.png", frameborder="0"  style="height:700px; margin-left:85px")


  //- script(src='asset/javascripts/default.js')
  //- script(src='https://code.jquery.com/jquery-1.11.1.min.js')
  //- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')

  //- script(src='asset/javascripts/jsBootstrapValidation.js')
  //- script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  //- script(src='https://code.jquery.com/jquery-2.1.4.min.js')
  //- link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css")

  //- script(src='asset/javascripts/default2.js')
  //- script(src='asset/javascripts/default3-bugs.js')
