br
.col-md-7
  h2.featurette-heading
    | 節能照明系統工程服務
  p.lead
    | ASE 節能照明系統工程服務，除了提供高效能 LED 燈具，還包含了完整的
    a(href='LED.html') &nbsp;節能服務&nbsp;
    | 、
    a(href='PV.html') &nbsp;綠色能源&nbsp;
    | 、
    a(href='Smart.html') &nbsp;智能監控&nbsp;
    | 、
    a(href='Fix.html') &nbsp;修繕改裝&nbsp;
    | 四大服務範疇，依照不同的需求，一次性地為您量身訂做完整的能源管理系統，無論是舊式系統改裝、全新的系統建置，ASE 皆有相關的專業服務。
.col-md-5
  img.featurette-image.img-responsive(src='asset/img/body/demo.png', alt='Generic placeholder image')